.feature{
    padding: 5% 0;
    &-item{
        box-sizing: border-box;
        padding: 20px;
        border:1px solid #eeee;
        h3{
            i{
                font-size: 30px;
                position: relative;
                top: 1px;
            }
        }
        p{
            color: rgb(162, 162, 162);
            font-size: 13px;
            line-height: 25px;
        }
    }
}